.features{
    padding: 50px 12%;
    font-size: 22px;
}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}
.textCol{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.imgCol{
        flex-basis: 50%;
    margin-bottom: 20px;
}
.imgCol img{
    display: block;
    width: 90%;
    margin: auto;
}